/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito", sans-serif;
  --nav-font: "Inter", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #eaeaea;
  --default-color: #212529;
  --heading-color: #131212;
  --accent-color: #cc6600;
  --surface-color: #faf9f6;
  --contrast-color: #faf9f6;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #212529;
  --nav-hover-color: #cc6600;
  --nav-mobile-background-color: #faf9f6;
  --nav-dropdown-background-color: #faf9f6;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #cc6600;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f3f9ff;
  --surface-color: #faf9f6;
}

.dark-background {
  --background-color: #cc6600;
  --default-color: #faf9f6;
  --heading-color: #faf9f6;
  --surface-color: #cc6600;
  --contrast-color: #faf9f6;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

mark {
  background-color: rgb(196, 194, 191);
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 5px solid rgb(211, 211, 211);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg") no-repeat center center/cover;
  text-align: center;
}

.hero .hero-content {
  padding: 2em;
  margin-top: 50px;
}

.hero h1 {
  font-size: 4vw;
  font-weight: 800;
  color: var(--contrast-color);
}

.hero p {
  color: var(--background-color);
  font-size: 2vw;
  line-height: 1.5;
  max-width: 90%;
  margin: 0 auto;
}

.hero .hero-image img {
  width: 90%;
  height: auto;
  padding-top: 2em;
}

.bn45 {
  width: 80%;
  max-width: 170px;
  height: 50px;
  margin-top: 30px;
}

@media (min-width: 769px) {
  .hero {
    flex-direction: row;
    text-align: left;
  }

  .hero .hero-content {
    padding-top: 10em;
    padding-left: 5em;
    margin-top: 50px;
  }

  .hero h1 {
    font-size: 3vw;
  }

  .hero p {
    font-size: 1.5vw;
    max-width: 600px;
    margin: 0;
  }

  .hero .hero-image img {
    height: 95vh;
    padding-top: 2em;
    padding-right: 2em;
  }
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    
  }

  .hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero p {
    font-size: 1em;
    max-width: 800px;
  }

  .hero .hero-image img {
    height: 95vh;
    padding-top: 2em;
    padding-right: 2em;
    display: none;
  }

}



@media (min-width: 1200px) {
  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 18px;
  }
}

.service-section {
  padding: 70px 0;
}
.service-section .text p {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--default-color);
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* Contents styling */
.service-section .contents .items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Individual items */
.service-section .items div {
  flex: 1 1 calc(33.33% - 20px);
  background: rgba(251, 192, 147, 0.01);
  margin: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-section .items div:hover {
  background: #fff;
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Social icons styling */
.service-section .items div.service-icon {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: none;
}

.service-section .service-icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(204, 102, 0, 0.1);
  font-size: 20px;
}

.service-section .service-icon i:hover {
  background-color: var(--accent-color);
  color: #fff;
}

/* Item titles and descriptions */
.service-section .items h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--default-color);
  margin-bottom: 50px;
  text-align: start;
}

.service-section .items p {
  font-size: 13px;
  color: var(--default-color);
  line-height: 1.5;
  font-weight: 400;
}

/* Mobile view (one column) */
@media (max-width: 576px) {
  .service-section .contents .items {
    flex-direction: column;
  }
  .service-section .items div {
    flex: 1 1 100%;
  }
}

/* Tablet view (two columns) */
@media (max-width: 768px) {
  .service-section .contents .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .service-section .items div {
    flex: 1 1 calc(50% - 20px);
  }
}
/* service section ends here */

/* Base styles for "how it works" section */
section .itmes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section .itmes img {
  width: 90%;
  max-width: 500px;
  height: auto;
  border-radius: 16px;
  margin-bottom: 20px;
}

section .itmes .item:last-child {
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  width: 90%;
  max-width: 500px;
}

section .itmes .item:last-child h2 {
  font-size: 6vw;
  font-weight: 700;
  color: var(--nav-hover-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid var(--default-color);
}

section .itmes .item:last-child ul {
  list-style: square;
  padding: 0;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

section .itmes .item:last-child ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  color: var(--default-color);
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

section .itmes .item:last-child ul li:last-child {
  border-bottom: none;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  section .itmes {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  section .itmes img {
    max-width: 50%;
    margin-bottom: 0;
  }

  section .itmes .item:last-child {
    width: auto;
    max-width: none;
    margin-left: 20px;
  }

  section .itmes .item:last-child h2 {
    font-size: 35px;
  }

  section .itmes .item:last-child ul li {
    font-size: 18px;
  }
}

@media (max-width: 768px){
  
  section .itmes .item:last-child h2 {
    font-size: 3.5vw;
  }
  
  
  section .itmes .item:last-child ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vw;
  }
  
  section .itmes .item:last-child ul li:last-child {
    border-bottom: none;
  }
  
}


/* Download Section */
.download {
  background-color: #faf9f6;
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
  margin: 20px 0;
}

.download h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.download p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--default-color2);
  margin-bottom: 10px;
}

/* cookies */
.cookie-consent {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.cookie-consent p {
  margin: 0;
}

.cookie-consent a {
  color: var(--surface-color);
  text-decoration: underline;
}

.cookie-button {
  background-color: var(--surface-color);
  color: var(--accent-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-button:hover {
  color: var(--default-color);
}
