/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito", sans-serif;
  --nav-font: "Inter", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #eaeaea;
  --default-color: #212529;
  --heading-color: #131212;
  --accent-color: #cc6600;
  --surface-color: #faf9f6;
  --contrast-color: #faf9f6;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #212529;
  --nav-hover-color: #cc6600;
  --nav-mobile-background-color: #faf9f6;
  --nav-dropdown-background-color: #faf9f6;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #cc6600;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f3f9ff;
  --surface-color: #faf9f6;
}

.dark-background {
  --background-color: #cc6600;
  --default-color: #faf9f6;
  --heading-color: #faf9f6;
  --surface-color: #cc6600;
  --contrast-color: #faf9f6;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

mark {
  background-color: rgb(196, 194, 191);
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


/* swiper */
.mySwiper{
  width: 30%;
  height: 30%;
  padding-top: 12em;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}







/* products */




/* .main{
  max-width: 1300px;
  margin: auto;
  padding-top: 17em;
  padding-bottom: 2em;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;

}

.row .card{
  background-color: #eaeaea;
  padding-top: 7px;
  border: none;
  width: 20rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.row .card img{
  width: 100%;
  transition: transform 0.3s ease;
}

.row .card img:hover{
  transform: translateY(-5px);
}

.row .card-body h5{
  color: var(--accent-color);
  font-weight: 800;
}

.row .card-body .rating i{
  color: var(--accent-color);
}

.row .card-body p{
  font-weight: 400;
}

.row .card-body .price span{
  color: var(--accent-color);
  font-weight: 500;
}

.row .card-body .price .small_price{
  text-decoration: line-through;
}

.row .card-body .btn{
  color: var(--accent-color);
  background-color: #eaeaea;
  border-color: var(--accent-color);
}

.row .card-body .btn:focus{
  outline: none; 
  box-shadow: none;
  border-color: var(--accent-color);
}

.row .card-body .btn:hover{
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

 */

